# General
.DS_Store

# Holding directory
holding_dir/

# Big assets folder, for things that are too big to push to GitHub
assets/big_assets/

# Image output directory
renders/

# IDE's
.vscode
.idea

